body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header img {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    height: auto;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    opacity: 0.9; /* Imagem 90% opaca */
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.texto {
    width: 65%;
}

.texto p {
    text-align: justify;
    margin-bottom: 20px;
}

.imagens-direita {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imagens-direita img {
    margin-bottom: 15px;
    width: 100%; /* Ajusta a largura para o contêiner */
    max-width: 150px;
    height: auto;
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    opacity: 0.8; /* Imagem 80% opaca */
    transform: rotate(10deg); /* Gira a imagem em 10 graus */
}
